.cerchioOnline{
  width:30px;
  height:30px;
  background-color: green;
}
.cerchioRosso{
  width:30px;
  height:30px;
  background-color: red;
}
.cerchio{
  width:15px;
  height:15px;
  border-radius: 50px;
  margin-right:10px;
  background-color: blue;
}
li{
  display: flex;
  margin-bottom:10px;
}
