<!--<h2>scegli colore</h2>
<div>
  <input type='radio' name="coloreEvidenziatore" (click)="cambiaColoreEvidenziatore('yellow')">yellow
  <input type='radio' name="coloreEvidenziatore" (click)="cambiaColoreEvidenziatore('blue')">blue
  <input type='radio' name="coloreEvidenziatore" (click)="cambiaColoreEvidenziatore('green')">green
  <input type='radio' name="coloreEvidenziatore" (click)="cambiaColoreEvidenziatore('red')">red
</div>
<p [appHighlight]="colore" defaultColor="black">ciao sono un paragrafo</p>
<p [appHighlight]="colore" defaultColor="green">ciao sono un paragrafo</p>
<p [appHighlight]="colore" defaultColor="yellow">ciao sono un paragrafo</p>


<p>{{oggi | date:'dd/mm/yyyy'}}</p>
<p>{{numero | number:'1.5-7'}}</p>-->
<a routerLink="/">home</a>
<a routerLink="/about">about</a>
<a routerLink="/contact">contact</a>
<router-outlet>
</router-outlet>
